<div class="content col-xs-offset-1" ng-controller="homeCtrl">
<div class="col-xs-6">	

	<div class="blue lighten-1 white-text card col-xs-12">
		<div class="card-heading blue">Mês</div>

		<div class="card-body">
			<h3 class="card-title">R$ 148.00</h3>
		</div>		
	</div>	


	<div class="blue-grey lighten-1 white-text card card-3 col-xs-6">
		<div class="card-heading blue-grey">Salário</div>
		<div class="card-body">
			<h3 class="card-title blue-grey">5 Dias</h1>

			<h5 class="col-xs-2 col-xs-offset-2 card-box">15</h5>
			<h5 class="col-xs-2 col-xs-offset-1 card-box">32</h5>
			<h5 class="col-xs-2 col-xs-offset-1 card-box">20</h5>
						
		</div>
	</div>

	<div class="deep-purple lighten-1 card white-text card-3 col-xs-6">
		<div class="card-heading deep-purple">Produtividade</div>
		<div class="card-body">
			<h3 class="card-title deep-purple">75 H</h1>
			
			
			<h5 class="col-xs-4 col-xs-offset-1 card-box">9</h5>
			<h5 class="col-xs-5 col-xs-offset-1 card-box">R$ 19.00</h5>
			
			
			<div class="card-footer">
				<div class="input-group">
			      <input type="text" class="form-control" placeholder="Valor">
			      <span class="input-group-btn">
			        <button class="btn btn-default" type="button"><i class="fa fa-plus"></i></button>
			      </span>
			    </div>
			</div>
	    </div>
	</div>

</div>

<div class="col-xs-5 col-xs-onset-1">

	<div class="red lighten-1 card white-text card-3 col-xs-12">
		<div class="card-heading red">Custos</div>
		<div class="card-body">
			<h3 class="card-title red">R$ 95.00</h1>
			
			<h5 class="col-xs-4 col-xs-offset-1 card-box">17</h5>
			<h5 class="col-xs-5 col-xs-offset-1  card-box">R$ 34.00</h5>
			
			<div class="card-footer">
				<div class="input-group">
			      <input type="text" class="form-control" placeholder="Valor">
			      <span class="input-group-btn">
			        <button class="btn btn-default" type="button"><i class="fa fa-plus"></i></button>
			      </span>
			    </div>
			</div>
	    </div>
	</div>

	<div class="green lighten-1 card white-text card-3 col-xs-6">
		<div class="card-heading green">Transporte</div>
		<div class="card-body">
			<h3 class="card-title green">R$ 45.00</h1>
			

			<h5 class="col-xs-4 col-xs-offset-1 card-box">17</h5>
			<h5 class="col-xs-5 col-xs-offset-1  card-box">R$ 5.00</h5>
			
			<div class="card-footer">
				<div class="input-group">
			      <input type="text" class="form-control" placeholder="Valor">
			      <span class="input-group-btn">
			        <button class="btn btn-default" type="button"><i class="fa fa-plus"></i></button>
			      </span>
			    </div>
			</div>
	    </div>
	</div>

	<div class="brown lighten-1 card white-text card-3 col-xs-6">
		<div class="card-heading brown ">Refeição</div>
		<div class="card-body">
			<h3 class="card-title brown ">R$ 98.00</h1>
			
			
			<h5 class="col-xs-4 col-xs-offset-1 card-box">9</h5>
			<h5 class="col-xs-5 col-xs-offset-1 card-box">R$ 19.00</h5>
			
			
			<div class="card-footer">
				<div class="input-group">
			      <input type="text" class="form-control" placeholder="Valor">
			      <span class="input-group-btn">
			        <button class="btn btn-default" type="button"><i class="fa fa-plus"></i></button>
			      </span>
			    </div>
			</div>
	    </div>
	</div>

</div>
</div>