<div class="col-xs-12 col-xs-offset-2" ng-controller="homeCtrl">	

	<div class="blue-grey darken-1 white-text card col-xs-8">
		<div class="card-heading blue-grey darken-1">Mês</div>

		<div class="card-body">
			<h3 class="col-xs-6">Ganhos</h3>
			<h3 class="col-xs-6">Custos</h3>


			<h3 class="col-xs-6">R$ 1500.00</h3>
			<h3 class="col-xs-6">R$ 148.00</h3>
		</div>

	</div>

	<div class="blue white-text card card-2 col-xs-4">
		<div class="card-heading blue darken-1">Salário</div>
		<div class="card-body">
			<h1 class="blue darken-1">5 Dias</h1>			
		</div>
	</div>

	<div class="green card white-text card-4 col-xs-2">
		<div class="card-heading green darken-1">Transporte</div>
		<div class="card-body">
			<h1 class="green darken-1">R$ 45.00</h1>
			<hr>
			<h5>Média/Dia R$ 5.00</h5>
			
			<div class="card-footer">
				<div class="input-group">
			      <input type="text" class="form-control" placeholder="Valor">
			      <span class="input-group-btn">
			        <button class="btn btn-default" type="button"><i class="fa fa-plus"></i></button>
			      </span>
			    </div>
			</div>
	    </div>
	</div>

	<div class="orange card white-text card-4 col-xs-2">
		<div class="card-heading orange darken-1">Refeição</div>
		<div class="card-body">
			<h1 class="orange darken-1">R$ 98.00</h1>
			<hr>

			<h5>13</h5>
			<h5>R$ 17.00</h5>
			
			<div class="card-footer">
				<div class="input-group">
			      <input type="text" class="form-control" placeholder="Valor">
			      <span class="input-group-btn">
			        <button class="btn btn-default" type="button"><i class="fa fa-plus"></i></button>
			      </span>
			    </div>
			</div>
	    </div>
	</div>

</div>