<div class="content col-xs-offset-1" ng-controller="homeCtrl">
<div class="col-xs-6">	

	<div class="blue  white-text card col-xs-12">
		<div class="card-heading blue">Mês</div>

		<div class="card-body">
			<h3 class="card-title">R$ {{valorMes / diasMes}}</h3>
		</div>	

		<input class="form-control col-xs-6" type="text" ng-model="diasMes">
		<input class="form-control col-xs-6" type="text" ng-model="valorMes">


	</div>	


	<div class="blue-grey  white-text card card-3 col-xs-6">
		<div class="card-heading blue-grey">Salário</div>
		<div class="card-body">
			<h3 class="card-title blue-grey">5 Dias</h1>

			<h5 class="col-xs-2 col-xs-offset-2 card-box">15</h5>
			<h5 class="col-xs-2 col-xs-offset-1 card-box">32</h5>
			<h5 class="col-xs-2 col-xs-offset-1 card-box">20</h5>
						
		</div>
	</div>

	<div class="deep-purple  card white-text card-6 col-xs-6">
		<div class="card-heading deep-purple">Produtividade</div>
		<div class="card-body">
			<h3 class="card-title deep-purple">{{horas_produtividade}}</h1>
			
			
			<!-- <h5 class="col-xs-4 col-xs-offset-1 card-box">{{vezes_produtivid / }}</h5> -->
			<h5 class="col-xs-5 col-xs-offset-1 card-box">R$ 19.00</h5>
			
			
			<div class="card-footer">
				<div class="input-group">

			      <input type="text" ng-model="user.coduser" class="form-control" placeholder="Valor">
			      <input type="text" ng-model="user.nome" class="form-control" placeholder="Valor">

			      <span class="input-group-btn">
			        <button class="btn btn-default" type="button" ng-click="selectUsers()"><i class="fa fa-plus"></i></button>
			      </span>
			    </div>
			</div>
	    </div>
	</div>

</div>

<div class="col-xs-5 col-xs-onset-1">

	<div class="red  card white-text card-3 col-xs-12">
		<div class="card-heading red">Custos</div>
		<div class="card-body">
			<h3 class="card-title red">R$ 95.00</h1>
			
			<h5 class="col-xs-4 col-xs-offset-1 card-box">17</h5>
			<h5 class="col-xs-5 col-xs-offset-1  card-box">R$ 34.00</h5>
			
			<div class="card-footer">
				<div class="input-group">
			      <input type="text" class="form-control" placeholder="Valor">
			      <span class="input-group-btn">
			        <button class="btn btn-default" type="button"><i class="fa fa-plus"></i></button>
			      </span>
			    </div>
			</div>
	    </div>
	</div>

	<div class="green  card white-text card-3 col-xs-6">
		<div class="card-heading green">Transporte</div>
		<div class="card-body">
			<h3 class="card-title green">R$ 45.00</h1>
			

			<h5 class="col-xs-4 col-xs-offset-1 card-box">17</h5>
			<h5 class="col-xs-5 col-xs-offset-1  card-box">R$ 5.00</h5>
			
			<div class="card-footer">
				<div class="input-group">
			      <input type="text" class="form-control" placeholder="Valor">
			      <span class="input-group-btn">
			        <button class="btn btn-default" type="button"><i class="fa fa-plus"></i></button>
			      </span>
			    </div>
			</div>
	    </div>
	</div>

	<div class="brown  card white-text card-3 col-xs-6">
		<div class="card-heading brown ">Refeição</div>
		<div class="card-body">
			<h3 class="card-title brown ">R$ 98.00</h1>
			
			
			<h5 class="col-xs-4 col-xs-offset-1 card-box">9</h5>
			<h5 class="col-xs-5 col-xs-offset-1 card-box">R$ 19.00</h5>
			
			
			<div class="card-footer">
				<div class="input-group">
			      <input type="text" class="form-control" placeholder="Valor">
			      <span class="input-group-btn">
			        <button class="btn btn-default" type="button"><i class="fa fa-plus"></i></button>
			      </span>
			    </div>
			</div>
	    </div>
	</div>

</div>
</div>